body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(coffee-background-7lhqifso991h2bq5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-size: 90px;
    color: bisque;
  }
  h2 {
    font-size: 50px;
    color:bisque;
  }
  h3{
    font-size: 50;
    color:bisque;
  }
  h4{
    font-size: 50;
    color:bisque;
  }
  h5{
    font-size: 60;
    color:bisque
  }

  header {
    background-color: #4d4b4b;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ff0000;
  }

  li {
    font-size: large;
    transition: font-size 0.15s;
  }

  LI:hover {
    font-size: 30px;
  }

  #img1 {
    margin-right: auto;
    margin-left: auto;
  }